# Librarii externe (prea mari pentru GitHub)
ClientVS22/extern/

# Output compilare
ClientVS22/binary/

# Visual Studio local files
**/.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.pch
*.ipch
*.idb
*.pdb

# Build outputs
*.obj
*.lib
*.dll
*.exe
*.ilk
*.exp
**/Release/
**/Debug/
**/x64/
**/x86/
